<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">doc_id</th>
        <th scope="col">Doctor's Name</th>
        <th scope="col">From Hospital</th>
        <th scope="col">Degree</th>
        <th scope="col">Department </th>
        <th scope="col">rateing</th>
       
     
      </tr>
    </thead>
    <tbody>
      <% if(data.length){
     
      for(var i = 0; i< data.length; i++) {%>  
      <tr>
        <th scope="row"><%= data[i].doc_id %></th>
        <td><%= data[i].doc_name%></td>
        <td><%= data[i].doc_hospital%></td>
        <td><%= data[i].doc_degree%></td>
        <td><%= data[i].dept_name %> (<%= data[i].dept_id %>) </td>
        <td><%= data[i].rateing%></td>
       
        <td>
        <a class="btn btn-success edit" href="">Edit</a>                                            
       </td>
      </tr>
      <% }
               
       }else{ %>
           <tr>
              <td colspan="3">No user</td>
           </tr>
        <% } %>    
      <tr colspan="7"> <a href="/admin/addDoctors" class="btn btn-success edit">Add +</a></tr>
    </tbody>
    </table>

  </div>