<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" value="notranslate">
  <link rel="shortcut icon" href="/images/cp_ico.png">


  <!--stylesheets / link tags loaded here-->


  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



  <style type="text/css">
    body,
    html {
      height: 100%;
      background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    }
    /* workaround modal-open padding issue */
    
    body.modal-open {
      padding-right: 0 !important;
    }
    
    #sidebar {
      padding-left: 0;
    }
    /*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
    
    @media screen and (max-width: 48em) {
      .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
      }
      .row-offcanvas-left .sidebar-offcanvas {
        left: -33%;
      }
      .row-offcanvas-left.active {
        left: 33%;
        margin-left: -6px;
      }
      .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        height: 100%;
      }
    }
    /*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
    
    @media screen and (max-width: 34em) {
      .row-offcanvas-left .sidebar-offcanvas {
        left: -45%;
      }
      .row-offcanvas-left.active {
        left: 45%;
        margin-left: -6px;
      }
      .sidebar-offcanvas {
        width: 45%;
      }
    }
    
    .card {
      overflow: hidden;
    }
    
    .card-block .rotate {
      z-index: 8;
      float: right;
      height: 100%;
    }
    
    .card-block .rotate i {
      color: rgba(20, 20, 20, 0.15);
      position: absolute;
      left: 0;
      left: auto;
      right: -10px;
      bottom: 0;
      display: block;
      -webkit-transform: rotate(-44deg);
      -moz-transform: rotate(-44deg);
      -o-transform: rotate(-44deg);
      -ms-transform: rotate(-44deg);
      transform: rotate(-44deg);
    }
  </style>
    <title>Document</title>
</head>
<body>
  
  <%- include('../common/nav_bar.ejs') %>

<div class="container">
<h1 class="display-2 hidden-xs-down">
    Admin Dashboard
    </h1>
<p class="lead hidden-xs-down"> (Current server status)</p>

<div class="alert alert-warning fade collapse" role="alert" id="myAlert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
  
</div>

<div class="row mb-3">
  <div class="col-xl-3 col-lg-6">
    <div class="card card-inverse card-success">
      <div class="card-block bg-success">
        <div class="rotate">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <a href="/admin/user" style="text-decoration: none; color: aliceblue;">
        <h6 class="text-uppercase">Users</h6>
        <h1 class="display-1"><%= amount[0].number%></h1> </a>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card card-inverse card-danger">
      <div class="card-block bg-danger">
        <div class="rotate">
          <i class="fa fa-list fa-4x"></i>
        </div>
        <a href="/admin/doctor" style="text-decoration: none; color: aliceblue;">
        <h6 class="text-uppercase">Doctors</h6>
        <h1 class="display-1"><%= amount[1].number%></h1> </a>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card card-inverse card-info">
      <div class="card-block bg-info">
        <div class="rotate">
          <i class="fa fa-twitter fa-5x"></i>
        </div>
        <a href="/admin/department" style="text-decoration: none; color: aliceblue;">
        <h6 class="text-uppercase">Departments</h6>
        <h1 class="display-1"><%= amount[2].number%></h1></a>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card card-inverse card-warning">
      <div class="card-block bg-warning">
        <div class="rotate">
          <i class="fa fa-share fa-5x"></i>
        </div>
        <a href="/admin/ceo" style="text-decoration: none; color: aliceblue;">
        <h6 class="text-uppercase">Admins</h6>
        <h1 class="display-1"><%= amount[3].number%></h1></a>
      </div>
    </div>
  </div>
</div>
<!--/row-->
</div>


</body>